@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --bg-color: #E0F4FF;
    --border-color: 1px solid #a9b7be;
    --text-color: #33393d;
    --btn-bg-color: #5c6d81;
    --btn-bg-color-hover: rgba(133, 159, 157, 0.41);
    --btn-text-color: #121416d8;
    --btn-border-radius: 10px;
    --link-color: #543fd7;
    --error-color: #f61010;
    --success-color: #24ea24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[data-theme='dark'] {
    --bg-color: #263238;
    --border-color: 1px solid #3f545e;
    --text-color: #87b295;
    --text-color-fade: #546e7a;
    --btn-text-color: #a7b7b9;
    --btn-bg-color: #263238;
    --btn-bg-color-hover: rgba(44, 75, 72, 0.41);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

hr {
    height: 1px;
    background-color: var(--border-color);
    border: none;
}


input, textarea {
    color: var(--text-color);
    caret-color: #4ce729;
}

/* Invert the background color of selected text */
input::selection, textarea::selection {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.icon-cst {
    filter: invert(48%) sepia(79%) saturate(1000%) hue-rotate(86deg) brightness(100%) contrast(119%);
    width: 30px;
    height: 30px;
    viewBox: 0 0 60 60;
}

/* header section*/
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    align-items: center;
    padding: 15px;
}

.hd-left {
    display: flex;
    align-items: center;
}

.hd-left > button {
    align-items: center;
    padding: 7px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--btn-text-color);
}

.hd-left > button:hover {
    border-radius: 10px;
    background: var(--btn-bg-color-hover);
}

.hd-left > a {
    margin-left: 20px;
    cursor: pointer;
    color: var(--text-color);
}

.hd-center {
    box-sizing: revert !important;
    height: 40px;
    width: 560px;
    border-radius: 30px;
    border: var(--border-color);
}

.hd-center > form {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
}

.hd-center input {
    height: inherit;
    width: 500px;
    background: none;
    outline: none;
    border: none;
    border-right: var(--border-color);
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1rem;
}

.hd-center img:hover {
    cursor: pointer;
}

.hd-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.theme-change {
    align-items: center;
    padding: 7px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--btn-text-color);
    margin-right: 30px;
}

.hd-right > button:hover {
    border-radius: 50%;
    background: var(--btn-bg-color-hover);
}

.hd-right > a {
    border: none;
    border-radius: var(--btn-border-radius);
    padding: 15px;
    cursor: pointer;
}

.hd-right > a:hover {
    background: var(--btn-bg-color-hover);
}

.hd-right > img {
    border: 2px solid #4ce729;
    border-radius: 50%;
    height: 2.9rem;
    width: 2.9rem;
    cursor: pointer;
}

/* header section ends*/

/*---------------------------------------------------------------*/
/*main section = side-bar + content-panel*/
main {
    height: calc(100% - 60px);
    display: flex;
    overflow: hidden;
    background-color: var(--bg-color);
    /* transtaion: time take to change any property */
    transition: 0.3s ease-in-out;
}

/* Sidebar */
.side-bar {
    width: 200px;
    background-color: var(--bg-color);
    color: var(--btn-text-color);
    overflow-y: scroll;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

/*inside Side-bar*/
.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.nav-link span {
    margin-left: 15px;
}

.nav-link:hover {
    background: var(--btn-bg-color-hover);
    cursor: pointer;
}

.nav-link:active {
    background: var(--btn-bg-color-hover);
}

.active {
    background: var(--btn-bg-color-hover);
}

/* Sidebar ends*/

/*content-panel*/
.videos > h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.videos {
    /*rgba changes color based on background*/
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    border-top: var(--border-color);
    overflow-y: scroll;
}

.videos::-webkit-scrollbar {
    display: none;
}

.videos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    width: 310px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 30px;
}

.video-thumbnail {
    width: 100%;
    height: 170px;
}

.video-thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.video-details {
    display: flex;
    margin-top: 10px;
}

.video-title {
    display: flex;
    flex-direction: column;
}

.video-title h3 {
    color: var(--text-color);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.video-title a, .video-title span {
    text-decoration: none;
    color: var(--text-color-fade)
}

@media (max-width: 425px) {
    /*Nav bar*/
    .hd-center {
        display: none;
    }

    /*Side bar*/
    .side-bar {
        width: 300px;
        display: none;
    }

    /*Content*/
    .videos {
    }
}

@media (max-width: 768px) {
    /*Nav bar*/
    .hd-center {
        display: none;
    }

    /*Side bar*/
    .side-bar {
        width: 300px;
        display: none;
    }

    /*Content*/
    .videos {
    }
}

@media (max-width: 968px) {
    /*Nav bar*/
    .hd-center {
        display: none;
    }

    /*Side bar*/
    .side-bar {
        width: 300px;
        display: none;
    }
}

/*content-panel ends*/