.profile-update {
    font-family: monospace;
    text-wrap: pretty;
    padding: 0 1rem;
}

.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    float: right;
    padding-top: 1rem;
}

/* Avatar */
.u-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-avatar label {
    height: 4rem;
    width: 4rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.3rem;
    border: 1px solid #4ce729;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer; /* Make the label clickable */
}

input[type="file"] {
    display: none;
}

.u-avatar-img {
    border-radius: 50%;
    max-height: 100%;
}

/* fields */
.u-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.u-field > label {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1rem;
    width: 8rem;
}

.u-field > input {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: 0;
    margin-left: 1rem;
    outline: none;
    resize: none;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background: #e2f8f6;
}

input:disabled, button:disabled {
    opacity: 0.5;
}

.u-btn-save {
    background-color: #4c91af;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 30px;
    border: rgba(82, 96, 100, 0.98);
    font-size: 16px;
    border-radius: 2px;
    float: right;
}

.u-btn-save:not([disabled]):hover {
    background-color: #43afdd;
    cursor: pointer;
}
