<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>Shareapp</display-name>

<!--    <session-config>-->
<!--        <cookie-config>-->
<!--            <http-only>true</http-only>-->
<!--            <secure>true</secure>-->
<!--        </cookie-config>-->
<!--        <tracking-mode>COOKIE</tracking-mode>-->
<!--    </session-config>-->

    <servlet>
        <servlet-name>PostUpload</servlet-name>
        <servlet-class>in.shareapp.post.servlet.PostUploadServlet</servlet-class>
        <multipart-config>
            <location>/</location>
            <max-file-size>20848820</max-file-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostUpload</servlet-name>
        <url-pattern>/postupload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>in.shareapp.user.servlet.ProfileUpdateProcessServlet</servlet-class>
        <multipart-config>
            <location>/</location> <!-- Temporary location to store uploaded files -->
            <max-file-size>20848820</max-file-size> <!-- Max file size allowed -->
            <max-request-size>418018841</max-request-size> <!-- Max request size allowed -->
            <file-size-threshold>1048576</file-size-threshold> <!-- Threshold size for storing files in memory -->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>

    <!-- Configuration for caching static resources -->
    <!--    <welcome-file-list>-->
    <!--        <welcome-file>index.jsp</welcome-file>-->
    <!--    </welcome-file-list>-->

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>default</servlet-name>-->
    <!--        <url-pattern>*.html</url-pattern>-->
    <!--    </servlet-mapping>-->

    <!--    <mime-mapping>-->
    <!--        <extension>html</extension>-->
    <!--        <mime-type>text/html</mime-type>-->
    <!--    </mime-mapping>-->

    <!--    <filter>-->
    <!--        <filter-name>ExpiresFilter</filter-name>-->
    <!--        <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>-->
    <!--        <init-param>-->
    <!--            <param-name>ExpiresByType text/html</param-name>-->
    <!--            <param-value>access plus 1 hour</param-value>-->
    <!--        </init-param>-->
    <!--    </filter>-->

    <!--    <filter-mapping>-->
    <!--        <filter-name>ExpiresFilter</filter-name>-->
    <!--        <url-pattern>*.html</url-pattern>-->
    <!--    </filter-mapping>-->

</web-app>